
@import url('../css/bootstrap.css');

[class*="col"]{
    padding: 1rem;
    background-color: rgb(65, 136, 112);
    border: 2px solid white;
    color: white;
    text-align: center;
}
a{
    color: aqua;
}.btn{
    padding: 3px;
}
table{
    border: black 1px solid;
}
tr{
    background-color:whitesmoke;
    border: 1px solid black;
}
td{
    padding: 10px;
}
th{
    
    background-color: aliceblue;
    padding: 10px;
}